@charset "UTF-8";

#bombos .slots, #bombos .controles {
	list-style:none;
	padding:20px;
	width:80%;
	margin: 10px auto;
	border:1px solid silver;
	border-radius:10px;
	text-align:center;
	background: black;
}

#bombos .slots li {
	
	display:inline-block;
	padding:10px;
	margin: 10px auto;
	border:1px solid silver;
	border-radius:10px;
}

#bombos .slots li  img{
	width:80px;
}

h2 {
	color: white;
}

.info {
	background: black;
	text-align:center;
}